node_modules/
vendor/

# Build output directories
/dist/
/build/

# Compiled files
*.o
*.pyc
*.exe

# Log files
*.log
npm-debug.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
/src/generated/prisma
